<!DOCTYPE html>
<html>
  <head>
    <title>Veto - Create Poll</title>
    <%= head_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Create a poll</h1>
      </div>

      <form id="create" action="/new" method="POST">
        <div class="row">
          <div class="six columns">
            Poll Title
          </div>
          <div class="six columns in">
            <input type="text" name="title" id="title" autocomplete="off" placeholder="Name of your poll">
          </div>
        </div>

        <div class="row">
          <div class="three columns">
            Poll URL name
          </div>
          <div class="three columns right">
            <span class="url"><span>
          </div>
          <div class="six columns in">
            <input type="text" name="code" id="code" autocomplete="off" placeholder="">
          </div>
        </div>

        <div class="row">
          <div class="twelve columns" style="margin-bottom: 1em">
            <input type="checkbox" checked id="other" name="other">
            <label for="other" style="cursor: pointer">Allow 'other' option?</label>
          </div>
        </div>


        <div class="row">
          <div class="twelve columns">
            Primary Options/Choices:
            <ul id="options">
              <div class="option">
                <input type="text" autocomplete="off" name="addition" id="addition" placeholder="...">
                <input type="button" class="add-option" value="Add option">
              </div>
            </ul>
          </div>
        </div>


        <br />
        <input id="submit-poll" type="submit" name="submit" value="Make Poll">
      </form>
    </div>


    <script src="/main.js"></script>
    <script src="/new.js"></script>
    <script>
      const add_list = option => {
        $('#addition').val('');
        let adder = $(".option").detach();
        $("#options")
          .append(`<li>${option}</li>`)
          .append(adder);
        $('#addition').focus().select();
      };

      $("#addition").on('keypress', key => {
        let value = $("#addition").val().trim();
        let values = Array(...$('#options li').map((i, e) => e.innerHTML));
        if (key.which === 13) {
          key.preventDefault();
          if (value.length === 0) {
            return $('#addition').attention();
          }
          if (values.includes(value)) {
            issue(ISSUE.FATAL, `Cannot have duplicate (primary) options/choices!`);
            return $('#addition').attention();
          }
          return add_list(value);
        }
      });
      $('.add-option').click(() => {
        let value = $("#addition").val().trim();
        let values = Array(...$('#options li').map((i, e) => e.innerHTML));
        if (value.length === 0) {
          return $('#addition').attention();
        }
        if (values.includes(value)) {
          issue(ISSUE.FATAL, `Cannot have duplicate (primary) options/choices!`);
          return $('#addition').attention();
        }

        return add_list(value);
      });
    </script>
    <script>
      $("#title").on('input', () => {
        $("#code").val(encodeURI($("#title").val().toLowerCase().replace(/\s/g, '-')));
      });

      $("#code").on('input', () => {
        $("#code").val(encodeURI($("#code").val().replace(/\s/g, '-')));
      });
    </script>
  </body>
</html>
