<!DOCTYPE html>
<html>
  <head>
    <title><%= name %> | Veto</title>
    <%= head_tags %>
    <script type="text/javascript">
      let other_allowed = true;
    </script>
    <% unless alt %>
      <script type="text/javascript">
        other_allowed = false;
      </script>
      <style>
        .others {
          display: none;
        }
      </style>
    <% end %>
    <style media="screen">
      table {
        width: 100%;
        border-collapse:separate;
        border-spacing: 0 0.5em;
      }

      td, th {
        border: none;
        padding: 0;
        vertical-align: middle;
      }
      th:not(:first-child) {
        width: 4em;
      }

      td:not(:first-child), th:not(:first-child) {
        text-align: center;
      }

      td:first-child {
        padding: 0 0 0 10px !important;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
      }

      td:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }

      tr:not(:first-child) {
        border: none;
        background: #f5f5f5;
        margin: 0;
        padding: 0;
      }

      tr td:nth-child(2) {
        background: #eeeeee;  /* Gradient-ish */
      }
      tr td:nth-child(3) {
        background: #e1e1e1;
      }
      tr td:nth-child(4) {
        background: #d7d7d7;
      }

      #vote {
        width: calc(100% - 11em);
        float: left;
      }
      #submit {
        width: 11em;
        padding: 0;
        float: right;
      }
      .disabled {
        user-select: none !important;
        cursor: default !important;
      }
      .caster {
        border-color: transparent;
        padding: 5px 10px;
        background: #f5f5f5;
        height: 1.4em;
        line-height: 0.7em;
        margin: 0;
        border-radius: 4px;
      }

      .caster:active {
        background: #aaa;
      }

      .chart-area {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      canvas {
        /*border: 1px solid #f9f9f9;
        background: #fff;
        border-radius: 4px;
        filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.2));*/
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1><%= name %></h1>

      <div class="row primary">
        <div class="seven columns">
          <table id="primary" class="live"></table>
        </div>
        <div class="five columns chart-area">
          <canvas id="pie" width="100%"></canvas>
        </div>
      </div>

      <br />

      <div class="row others">
        <div class="six columns">
          <table id="other"></table>
          <form id="cast" action="/cast" method="POST">
            <input type="text" id="vote" placeholder="Type your vote."/>
            <input type="submit" id="submit" value="Submit Vote" />
          </form>
        </div>
        <div class="six columns chart-area">
          <canvas id="bar" width="100%"></canvas>
        </div>
      </div>
      <br />

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js" charset="utf-8"></script>
      <script type="text/javascript">
        Chart.defaults.global.elements.arc.borderColor = '#ddd';
        const ALPHA_RANGE = {
          min: 0.08,
          max: 1
        }

        const chart_colors = chart => {
          const range = ALPHA_RANGE;
          const N = chart.data.datasets[0].data.length;
          backgrounds = Array(N);
          for (let mono = range.min; mono <= range.max; mono += range.max / (N + 1))
            backgrounds[Math.round((mono - range.min) * N / range.max)] = `rgba(0,0,0,${mono})`;
          chart.data.datasets[0].backgroundColor = backgrounds;
          console.log(backgrounds);
          return backgrounds;
        };

        const chart_empty = chart => {
          chart.data.labels = [];
          chart.data.datasets[0].data = [];
        };

        const push_data = (chart, label, data) => {
          chart.data.labels.push(label);
          chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
          });
        }

        $(document).ready(() => {
          for (const canvas of ['#pie', '#bar']) {
            const context = $(canvas)[0];
            const dimension = $(canvas).closest('div').innerWidth() - 22;
            context.height = dimension;
            context.width = dimension;
          }
        });
      </script>
      <script type="text/javascript">
        // CHARTS:
        let pie;
        let bar;  // Make sure they're global.
        $(document).ready(() => {
          const pie_context = $('#pie');

          pie = new Chart(pie_context[0], {
            type: 'pie',
            data: {
              labels: [],
              datasets: [{
                label: '№	of Votes',
                data: [],
                backgroundColor: [],
              }]
            },
            options: {}
          });

          const bar_context = $('#bar')
          bar = new Chart(bar_context[0], {
            type: 'horizontalBar',
            data: {
              labels: [],
              datasets: [{
                label: '№	of Votes',
                data: [],
                backgroundColor: [],
              }]
            },
            options: {
              title: {
                display: true,
                text: 'Distribution of alternative/other votes.'
              },
              scales: {
                yAxes: [{
                  categoryPercentage: 0.9,
                  barPercentage: 1.0,
                  ticks: {
                    mirror: true,
                    padding: -10,
                  }
                }],
                xAxes: [{
                  ticks: {
                    stepSize: 1
                  }
                }]
              },
              legend: {
                display: false,
              }
            }
          });
        });
      </script>

      <script src="/main.js"></script>
      <script src="/poller.js"></script>
    </div>
  </body>
</html>
