<!DOCTYPE html>
<html>
  <head>
    <title><%= name %> | Veto</title>
    <%= head_tags %>
  </head>
  <body>
    <h1><%= name %></h1>
    <h2>Cast a Vote</h2>

    <ul id="live"></ul>

    <form id="cast" action="/cast" method="POST">
      <input type="text" id="vote" placeholder="Vote for?"/>
      <input type="submit" id="submit" value="Submit Vote" />
    </form>

    <% unless alt %>
      <style>
        #cast {
          display: none;
        }
      </style>
    <% end %>

    <script src="/main.js"></script>
    <script src="/poller.js"></script>
  </body>
</html>
