<!DOCTYPE html>
<html>
  <head>
    <title>Share Poll</title>
    <%= head_tags %>
  </head>
  <body>
    <div>
      <p>Share:
        <a id="share" href="/poll/<%= params[:code] %>"></a>
      </p>
    </div>


    <script src="/jquery.min.js"></script>
    <script>
      $("#share").append(`${window.location.protocol}//${window.location.host}/poll/<%= params[:code] %>`)
    </script>
  </body>
</html>
