<!DOCTYPE html>
<html>
  <head>
    <title>Share Poll</title>
    <%= head_tags %>
  </head>
  <body>
    <div>
      <p>Share:
        <a id="share" href=""></a>
      </p>
    </div>


    <script src="/main.js"></script>
    <script>
      $("#share")
        .attr('href', `/poll/${encodeURIComponent("<%= params[:code] %>")}`)
        .append(`${window.location.protocol}//${window.location.host}/poll/${encodeURIComponent("<%= params[:code] %>")}`)
    </script>
  </body>
</html>
