@import url('https://fonts.googleapis.com/css?family=Rubik:400,400i,500');

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

html {
  overflow-y: scroll;
}

.container {
  margin-top: 30px;
}

ul {
  padding-left: 40px;
  margin: 10px 0;
}

#options {
  margin: 20px 0;
}

#options li {
  padding: 5px 10px;
  margin-top: 20px;
  border-radius: 5px;
  background: #fff;
  transition: all .1s ease;
  cursor: pointer;
  vertical-align: middle;
}

#options li input {
  background: #111;
  color: #eee;
  border-bottom: 2px solid #222;
  padding: 0 5px;
  margin: 0;
  display: inline-block;
  height: 1.6em;
  line-height: 0px;
  margin: 0;
  border-radius: 2px;
}

#options li:nth-of-type(2n) {
  background: #f2f2f2;
}

#options li:hover {
  background: #222;
  color: #fff;
}

.dark-option {
  background: #000 !important;
  color: #fff;
}

#options li span {
  vertical-align: middle;
  border-bottom: 2px solid transparent;
}

#options li .symbols {
  vertical-align: middle;
  float: right;
  font-size: 0.8em;
}

#options li .symbols i {
  margin: 0 0 0 3px;
  padding: 7px;
  vertical-align: middle;
  transition: all .15s ease;
}

#options li .symbols i:hover {
  color: #999;
}

label {
  font-weight: normal;
}

input[type=submit] {
  font-weight: normal;
  border-color: #000;
  color: #fff;
  background: #000;
  transition: all .1s ease;
}

input[type=submit]:hover {
  background: #1a1a1a;
  color: #ddd;
}

input[type=submit]:active {
  background: #555;
  color: #888;
}

input[type=button], button {
  padding: 0;
  margin: 0 15px;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #aaa;
  height: 36px;
  letter-spacing: normal;
  font-weight: normal;
}

input[type=text] {
  background: transparent;
  font-size: 1em;
  padding: 0;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid #aaa;
  transition: all .15s ease;
}

input[type=text]:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #aaa;
}

input[type=checkbox] { display:none; }
input[type=checkbox] + label:before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

input[type=checkbox] + label:before {
  font-family: Font Awesome\ 5 Free;
  letter-spacing: 10px;
  content: '\f0c8';
}

input[type=checkbox]:checked + label:before {
  font-family: Font Awesome\ 5 Free;
  letter-spacing: 10px;
  content: '\f14a';
}

#code {
  color: #aaa;
}

.problem:focus {
  outline: none;
  border: 1px solid #900;
  background: #ffd8d2;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: #000;
}

h3 {
  font-size: 1.57em;
}

.in {
  margin-left: 0;
  margin-top: -6px;
}

.in input {
  width: 100%;
}

#addition {
  margin-left: 32px;
}

.right {
  text-align: right;
}

.url {
  word-break: break-all;
  display: block;
  font-size: 1em;
  color: #aaa;
}

.issues {
  position: fixed;
  right: 15px; /* Scroll bar */
  bottom: 0;
  overflow: hidden;
}

.issues div > * {
  padding: 10px 15px;
  margin: 0;
}

.issues div {
  max-height: 0;
  width: 15em;
  opacity: 0;
  margin: 10px;
  border-radius: 5px;
  border-left: 8px solid;
  transition: all .4s ease-out;
  overflow: hidden;
}

.issues p {
  font-size: 0.8em;
  width: auto;
  border-top:    2px solid;
  border-bottom: 2px solid;
}

.issues h3 {
  color: inherit;
}

.issues .show {
  max-height: 300px;
  opacity: 1;
}

.issues .error {
  background: #ffc8b3;
  border-color: #ff5436;
  color: #800 !important;
}

.issues .error p {
  background: #ffd8d2;
  border-color: #faa;
}

.issues .warning {
  background: #ffeab3;
  border-color: #ffc136;
  color: #885a00 !important;
}

.issues .warning p {
  background: #fff0d2;
  border-color: #ffe2aa;
}
